In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv'

In [3]:
!wget $data -O data-week-3.csv

--2023-10-04 22:20:46--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8001::154, 2606:50c0:8000::154, 2606:50c0:8003::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8001::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data-week-3.csv’

data-week-3.csv     100%[===================>]   1.41M  3.57MB/s    in 0.4s

2023-10-04 22:20:47 (3.57 MB/s) - ‘data-week-3.csv’ saved [1475504/1475504]

In [4]:
df = pd.read_csv('data-week-3.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [5]:
df = df[['Make', 'Model', 'Year', 'Engine HP', 'Engine Cylinders', 'Transmission Type', 'Vehicle Style', 'highway MPG', 'city mpg', 'MSRP']]
df.head()

,Make,Model,Year,Engine HP,Engine Cylinders,Transmission Type,Vehicle Style,highway MPG,city mpg,MSRP
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [6]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df.loc[:, c] = df[c].str.lower().str.replace(' ', '_')

In [7]:
df.isna().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

In [8]:
df = df.fillna(0)
df.isna().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [9]:
df.rename(columns={'msrp': 'price'}, inplace=True)

print(df)

          make       model  year  engine_hp  engine_cylinders  \
0          bmw  1_series_m  2011      335.0               6.0
1          bmw    1_series  2011      300.0               6.0
2          bmw    1_series  2011      300.0               6.0
3          bmw    1_series  2011      230.0               6.0
4          bmw    1_series  2011      230.0               6.0
...        ...         ...   ...        ...               ...
11909    acura         zdx  2012      300.0               6.0
11910    acura         zdx  2012      300.0               6.0
11911    acura         zdx  2012      300.0               6.0
11912    acura         zdx  2013      300.0               6.0
11913  lincoln      zephyr  2006      221.0               6.0

      transmission_type  vehicle_style  highway_mpg  city_mpg  price
0                manual          coupe           26        19  46135
1                manual    convertible           28        19  40650
2                manual          coupe           28        20  36350
3                manual          coupe           28        18  29450
4                manual    convertible           28        18  34500
...                 ...            ...          ...       ...    ...
11909         automatic  4dr_hatchback           23        16  46120
11910         automatic  4dr_hatchback           23        16  56670
11911         automatic  4dr_hatchback           23        16  50620
11912         automatic  4dr_hatchback           23        16  50920
11913         automatic          sedan           26        17  28995

[11914 rows x 10 columns]

In [10]:
print(df.transmission_type.mode())

0    automatic
Name: transmission_type, dtype: object

In [11]:
numeric_df = df[['engine_hp', 'year', 'highway_mpg', 'engine_cylinders', 'city_mpg']]
# print(numeric_df)
correlation_matrix = numeric_df.corr()

print(correlation_matrix)

                  engine_hp      year  highway_mpg  engine_cylinders  city_mpg
engine_hp          1.000000  0.338714    -0.415707          0.774851 -0.424918
year               0.338714  1.000000     0.258240         -0.040708  0.198171
highway_mpg       -0.415707  0.258240     1.000000         -0.614541  0.886829
engine_cylinders   0.774851 -0.040708    -0.614541          1.000000 -0.587306
city_mpg          -0.424918  0.198171     0.886829         -0.587306  1.000000

In [15]:
average_price = df.price.mean()
print(average_price)

40594.737032063116

In [23]:
df['above_average'] = (df['price'] > average_price).astype(int)

print(df)

          make       model  year  engine_hp  engine_cylinders  \
0          bmw  1_series_m  2011      335.0               6.0
1          bmw    1_series  2011      300.0               6.0
2          bmw    1_series  2011      300.0               6.0
3          bmw    1_series  2011      230.0               6.0
4          bmw    1_series  2011      230.0               6.0
...        ...         ...   ...        ...               ...
11909    acura         zdx  2012      300.0               6.0
11910    acura         zdx  2012      300.0               6.0
11911    acura         zdx  2012      300.0               6.0
11912    acura         zdx  2013      300.0               6.0
11913  lincoln      zephyr  2006      221.0               6.0

      transmission_type  vehicle_style  highway_mpg  city_mpg  price  \
0                manual          coupe           26        19  46135
1                manual    convertible           28        19  40650
2                manual          coupe           28        20  36350
3                manual          coupe           28        18  29450
4                manual    convertible           28        18  34500
...                 ...            ...          ...       ...    ...
11909         automatic  4dr_hatchback           23        16  46120
11910         automatic  4dr_hatchback           23        16  56670
11911         automatic  4dr_hatchback           23        16  50620
11912         automatic  4dr_hatchback           23        16  50920
11913         automatic          sedan           26        17  28995

       above_average
0                  1
1                  1
2                  0
3                  0
4                  0
...              ...
11909              1
11910              1
11911              1
11912              1
11913              0

[11914 rows x 11 columns]

### Perform the train/validation/test split with Scikit-Learn

In [19]:
from sklearn.model_selection import train_test_split

In [18]:
# y = df['above_average']
# df = df.drop(columns=['above_average'])

In [24]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [25]:
len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [29]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [30]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

In [31]:
print(df_train.shape)
print(df_val.shape)
print(df_test.shape)

(7148, 10)
(2383, 10)
(2383, 10)

### Mutual information score

In [32]:
from sklearn.metrics import mutual_info_score

In [39]:
categorical = [
    'make',
    'model',
    'transmission_type',
    'vehicle_style'
]
numerical = [
    'engine_hp',
    'year',
    'highway_mpg',
    'engine_cylinders',
    'city_mpg'
]
# print(df_train[categorical])

In [36]:
def mutual_info_churn_score(series):
    my_value = mutual_info_score(series, y_train)
    return round(my_value, 2)

In [37]:
mi = df_train[categorical].apply(mutual_info_churn_score)
mi.sort_values(ascending=False)

model                0.46
make                 0.24
vehicle_style        0.08
transmission_type    0.02
dtype: float64

### One-hot encoding

In [38]:
from sklearn.feature_extraction import DictVectorizer

In [40]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

### Training logistic regression with Scikit-Learn

In [41]:
from sklearn.linear_model import LogisticRegression

In [ ]:
# model = LogisticRegression(solver='lbfgs')
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
# solver='lbfgs' is the default solver in newer version of sklearn
# for older versions, you need to specify it explicitly
model.fit(X_train, y_train)